/****** Object:  Database [Qltt2014]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE DATABASE [Qltt2014]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Qltt2014_dat', FILENAME = N'D:\05. My Apps\QLTT2022\DATA\Qltt2014.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Qltt2014_log', FILENAME = N'D:\05. My Apps\QLTT2022\DATA\Qltt2014.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE [Qltt2014]
GO
/****** Object:  UserDefinedFunction [dbo].[fnHDSOExist]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnHDSOExist]
(
	@SOHD nvarchar(255)
)
RETURNS int
AS
BEGIN
	DECLARE @iRef int
	SELECT @iRef = COUNT (SOHD) FROM dbo.tblHopdong WHERE SOHD=@SOHD
	RETURN @iRef
END
GO
/****** Object:  Table [dbo].[tblChitietHD]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitietHD](
	[HD_SO] [nvarchar](50) NOT NULL,
	[MSHM] [int] NOT NULL,
	[GIATRI] [float] NULL,
 CONSTRAINT [aaaaatbl Chi tiet Hop dong_PK] PRIMARY KEY NONCLUSTERED 
(
	[HD_SO] ASC,
	[MSHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChitietHoso]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitietHoso](
	[MSMOTA] [int] NOT NULL,
	[MOTA] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblChitietHoso] PRIMARY KEY CLUSTERED 
(
	[MSMOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHangmuc]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHangmuc](
	[MSHM] [int] IDENTITY(1,1) NOT NULL,
	[TENHM] [nvarchar](255) NULL,
	[GTDT] [float] NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [aaaaatbl Hang muc_PK] PRIMARY KEY NONCLUSTERED 
(
	[MSHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHinhthucHD]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHinhthucHD](
	[MSHTHD] [int] IDENTITY(1,1) NOT NULL,
	[TENHTHD] [nvarchar](255) NULL,
 CONSTRAINT [aaaaatbl Hinh thuc Hop dong_PK] PRIMARY KEY NONCLUSTERED 
(
	[MSHTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHopdong]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHopdong](
	[SOHD] [nvarchar](50) NOT NULL,
	[HDCHINH] [nvarchar](50) NULL,
	[MSNT] [int] NOT NULL,
	[MSCP] [int] NOT NULL,
	[MSHTHD] [int] NOT NULL,
	[NOIDUNG] [nvarchar](max) NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[NGAY_HD] [datetime] NOT NULL,
	[NGAY_BD] [datetime] NOT NULL,
	[NGAY_KT] [datetime] NOT NULL,
	[NGAY_BLTU] [datetime] NULL,
	[NGAY_BLHD] [datetime] NULL,
	[TYLE_TAMUNG] [float] NULL,
	[TYLE_BLHD] [float] NULL,
	[TYLE_QT] [float] NULL,
	[bTHANHLY] [bit] NULL,
	[bQUYETTOAN] [bit] NULL,
 CONSTRAINT [aaaaatbl Hop dong_PK] PRIMARY KEY NONCLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoso]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENFILE] [nvarchar](50) NOT NULL,
	[THAMCHIEU] [nchar](50) NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[NGAYHOSO] [datetime] NULL,
 CONSTRAINT [PK_tblFilePDF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKyGN]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKyGN](
	[MSKYGN] [int] IDENTITY(1,1) NOT NULL,
	[KYGN] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_tblKyGN] PRIMARY KEY CLUSTERED 
(
	[MSKYGN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaichiphi]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaichiphi](
	[MSCP] [int] IDENTITY(1,1) NOT NULL,
	[TENCHIPHI] [nvarchar](255) NULL,
	[NGUONVON] [char](3) NULL,
 CONSTRAINT [aaaaatbl Loai chi phi_PK] PRIMARY KEY NONCLUSTERED 
(
	[MSCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhathau]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhathau](
	[MSNT] [int] IDENTITY(1,1) NOT NULL,
	[TENNT] [nvarchar](255) NULL,
 CONSTRAINT [aaaaatbl Nha thau_PK] PRIMARY KEY NONCLUSTERED 
(
	[MSNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThanhtoan]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThanhtoan](
	[SOPTT] [nvarchar](50) NOT NULL,
	[NGAYPTT] [datetime] NOT NULL,
	[GT_HT] [float] NOT NULL,
	[GT_PS] [float] NOT NULL,
	[GT_KTTU] [float] NOT NULL,
	[GT_KTQT] [float] NOT NULL,
	[GT_TT] [float] NOT NULL,
	[MSKYGN] [int] NOT NULL,
	[HD_SO] [nvarchar](50) NOT NULL,
	[GT_KTKHAC] [float] NOT NULL,
 CONSTRAINT [aaaaatbl Thanh toan_PK] PRIMARY KEY NONCLUSTERED 
(
	[SOPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Index [tbl Hang muctbl Chi tiet Hop dong]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Hang muctbl Chi tiet Hop dong] ON [dbo].[tblChitietHD]
(
	[MSHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [tbl Hop dongtbl Chi tiet Hop dong]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Hop dongtbl Chi tiet Hop dong] ON [dbo].[tblChitietHD]
(
	[HD_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SOHD]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SOHD] ON [dbo].[tblHopdong]
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tbl Hinh thuc HDtbl Hop dong]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Hinh thuc HDtbl Hop dong] ON [dbo].[tblHopdong]
(
	[MSHTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tbl Loai chi phitbl Hop dong]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Loai chi phitbl Hop dong] ON [dbo].[tblHopdong]
(
	[MSCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tbl Nha thautbl Hop dong]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Nha thautbl Hop dong] ON [dbo].[tblHopdong]
(
	[MSNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [tbl Hop dongtbl Thanh toan]    Script Date: 21/06/22 3:04:15 PM ******/
CREATE NONCLUSTERED INDEX [tbl Hop dongtbl Thanh toan] ON [dbo].[tblThanhtoan]
(
	[HD_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblChitietHD] ADD  DEFAULT ((0)) FOR [MSHM]
GO
ALTER TABLE [dbo].[tblChitietHD] ADD  DEFAULT ((0)) FOR [GIATRI]
GO
ALTER TABLE [dbo].[tblHangmuc] ADD  DEFAULT ((0)) FOR [GTDT]
GO
ALTER TABLE [dbo].[tblHopdong] ADD  CONSTRAINT [DF__tbl Hop do__MSNT__108B795B]  DEFAULT ((0)) FOR [MSNT]
GO
ALTER TABLE [dbo].[tblHopdong] ADD  CONSTRAINT [DF__tbl Hop do__MSCP__117F9D94]  DEFAULT ((0)) FOR [MSCP]
GO
ALTER TABLE [dbo].[tblHopdong] ADD  CONSTRAINT [DF__tbl Hop do__HTHD__1273C1CD]  DEFAULT ((0)) FOR [MSHTHD]
GO
ALTER TABLE [dbo].[tblThanhtoan] ADD  CONSTRAINT [DF__tbl Thanh __GTHT__7C8480AE]  DEFAULT ((0)) FOR [GT_HT]
GO
ALTER TABLE [dbo].[tblThanhtoan] ADD  CONSTRAINT [DF__tbl Thanh __GTPS__7D78A4E7]  DEFAULT ((0)) FOR [GT_PS]
GO
ALTER TABLE [dbo].[tblThanhtoan] ADD  CONSTRAINT [DF__tbl Thanh __GTKT__7E6CC920]  DEFAULT ((0)) FOR [GT_KTTU]
GO
ALTER TABLE [dbo].[tblThanhtoan] ADD  CONSTRAINT [DF__tbl Thanh __GTDK__7F60ED59]  DEFAULT ((0)) FOR [GT_TT]
GO
ALTER TABLE [dbo].[tblThanhtoan] ADD  CONSTRAINT [DF_tblThanhtoan_GT_KTKHAC]  DEFAULT ((0)) FOR [GT_KTKHAC]
GO
ALTER TABLE [dbo].[tblChitietHD]  WITH CHECK ADD  CONSTRAINT [tbl Chi tiet Hop dong_FK00] FOREIGN KEY([MSHM])
REFERENCES [dbo].[tblHangmuc] ([MSHM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChitietHD] CHECK CONSTRAINT [tbl Chi tiet Hop dong_FK00]
GO
ALTER TABLE [dbo].[tblHopdong]  WITH CHECK ADD  CONSTRAINT [tbl Hop dong_FK00] FOREIGN KEY([MSHTHD])
REFERENCES [dbo].[tblHinhthucHD] ([MSHTHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHopdong] CHECK CONSTRAINT [tbl Hop dong_FK00]
GO
ALTER TABLE [dbo].[tblHopdong]  WITH CHECK ADD  CONSTRAINT [tbl Hop dong_FK01] FOREIGN KEY([MSCP])
REFERENCES [dbo].[tblLoaichiphi] ([MSCP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHopdong] CHECK CONSTRAINT [tbl Hop dong_FK01]
GO
ALTER TABLE [dbo].[tblHopdong]  WITH CHECK ADD  CONSTRAINT [tbl Hop dong_FK02] FOREIGN KEY([MSNT])
REFERENCES [dbo].[tblNhathau] ([MSNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHopdong] CHECK CONSTRAINT [tbl Hop dong_FK02]
GO
ALTER TABLE [dbo].[tblThanhtoan]  WITH CHECK ADD  CONSTRAINT [FK_tblThanhtoan_tblKyGN] FOREIGN KEY([MSKYGN])
REFERENCES [dbo].[tblKyGN] ([MSKYGN])
GO
ALTER TABLE [dbo].[tblThanhtoan] CHECK CONSTRAINT [FK_tblThanhtoan_tblKyGN]
GO
ALTER TABLE [dbo].[tblThanhtoan]  WITH NOCHECK ADD  CONSTRAINT [tbl Thanh toan_FK00] FOREIGN KEY([HD_SO])
REFERENCES [dbo].[tblHopdong] ([SOHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblThanhtoan] CHECK CONSTRAINT [tbl Thanh toan_FK00]
GO
/****** Object:  StoredProcedure [dbo].[spSuaHD]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[spSuaHD]
	(
        @SOHD_OLD	nvarchar(255)=NULL,
      @SOHD		nvarchar(255)=NULL,
        @NOIDUNG	nvarchar(255)=NULL,
        @GHICHU	nvarchar(255)=NULL,
        @TYLE_HD	float=NULL,
        @TYLE_QT	float=NULL,
        @TYLE_TU	float=NULL,
        @MSHTHD	int=NULL,
        @MSNT	int=NULL,
        @MSCP	int=NULL,
        @HDCHINH	smalldatetime=NULL,
      @NGAY_HD	smalldatetime=NULL,
        @NGAY_BD	smalldatetime=NULL,
        @NGAY_KT	smalldatetime=NULL,
        @NGAY_BLTU	smalldatetime=NULL,
        @NGAY_BLHD	smalldatetime=NULL,
	@bTHANHLY	bit,
	@bQUYETTOAN	bit
	)
AS
BEGIN
	SET NOCOUNT ON
	IF NOT (@HDCHINH  IS NULL)
		UPDATE dbo.tblHopdong
		SET SOHD=@SOHD,NOIDUNG=@NOIDUNG,GHICHU=@GHICHU,TYLE_BLHD=@TYLE_HD,TYLE_QT=@TYLE_QT,
			TYLE_TAMUNG=@TYLE_TU,MSHTHD=@MSHTHD,MSNT=@MSNT,MSCP=@MSCP,
			NGAY_HD=@NGAY_HD,NGAY_BD=@NGAY_BD,NGAY_KT=@NGAY_KT,NGAY_BLTU=@NGAY_BLTU,
			NGAY_BLHD=@NGAY_BLHD,bTHANHLY=@bTHANHLY,bQUYETTOAN=@bQUYETTOAN
		WHERE SOHD=@SOHD_OLD 
	ELSE
		UPDATE dbo.tblHopdong
		SET SOHD=@SOHD,NOIDUNG=@NOIDUNG,GHICHU=@GHICHU,TYLE_BLHD=@TYLE_HD,TYLE_QT=@TYLE_QT,
			TYLE_TAMUNG=@TYLE_TU,MSHTHD=@MSHTHD,MSNT=@MSNT,MSCP=@MSCP,HDCHINH=@HDCHINH,
			NGAY_HD=@NGAY_HD,NGAY_BD=@NGAY_BD,NGAY_KT=@NGAY_KT,NGAY_BLTU=@NGAY_BLTU,
			NGAY_BLHD=@NGAY_BLHD,bTHANHLY=@bTHANHLY,bQUYETTOAN=@bQUYETTOAN
		WHERE SOHD=@SOHD_OLD		
END

GO
/****** Object:  StoredProcedure [dbo].[spThemHD]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[spThemHD]
	(
        @SOHD		nvarchar(255)=NULL,
        @NOIDUNG	nvarchar(255)=NULL,
        @GHICHU		nvarchar(255)=NULL,
        @TYLE_HD	float=NULL,
        @TYLE_QT	float=NULL,
        @TYLE_TU	float=NULL,
        @MSHTHD		int=NULL,
        @MSNT		int=NULL,
        @MSCP		int=NULL,
        @HDCHINH	smalldatetime=NULL,
		@NGAY_HD	smalldatetime=NULL,
        @NGAY_BD	smalldatetime=NULL,
        @NGAY_KT	smalldatetime=NULL,
        @NGAY_BLTU	smalldatetime=NULL,
        @NGAY_BLHD	smalldatetime=NULL
	)
AS
BEGIN
	SET NOCOUNT ON
	IF (dbo.fnHDSOExist(@SOHD)=0)
		BEGIN
			IF NOT (@HDCHINH  IS NULL)
				INSERT INTO dbo.tblHopdong (SOHD,NOIDUNG,GHICHU,TYLE_BLHD,TYLE_QT,TYLE_TAMUNG,MSHTHD,MSNT,MSCP,HDCHINH,NGAY_HD,NGAY_BD,NGAY_KT,NGAY_BLTU,NGAY_BLHD,bTHANHLY,bQUYETTOAN)
					VALUES (@SOHD,@NOIDUNG,@GHICHU,@TYLE_HD,@TYLE_QT,@TYLE_TU,@MSHTHD,@MSNT,@MSCP,@HDCHINH,@NGAY_HD,@NGAY_BD,@NGAY_KT,@NGAY_BLTU,@NGAY_BLHD,0,0)
			ELSE
				INSERT INTO dbo.tblHopdong (SOHD,NOIDUNG,GHICHU,TYLE_BLHD,TYLE_QT,TYLE_TAMUNG,MSHTHD,MSNT,MSCP,NGAY_HD,NGAY_BD,NGAY_KT,NGAY_BLTU,NGAY_BLHD,bTHANHLY,bQUYETTOAN)
					VALUES (@SOHD,@NOIDUNG,@GHICHU,@TYLE_HD,@TYLE_QT,@TYLE_TU,@MSHTHD,@MSNT,@MSCP,@NGAY_HD,@NGAY_BD,@NGAY_KT,@NGAY_BLTU,@NGAY_BLHD,0,0)
		END
END


GO
/****** Object:  StoredProcedure [dbo].[spXoaHD]    Script Date: 21/06/22 3:04:15 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spXoaHD] (@SOHD nvarchar(50))
AS
BEGIN
	SET NOCOUNT ON
	DELETE FROM dbo.tblHopdong WHERE SOHD=@SOHD
	DELETE FROM dbo.tblChitietHD WHERE HD_SO=@SOHD
	DELETE FROM dbo.tblHoso WHERE THAMCHIEU=@SOHD
END
GO

			1

