/*--------------------------------------------
           Tạo DATABASE và TABLE
--Trước khi chạy script này, phải thực hiện:
-- (1) Đổi tên Database
-- (2) Kiểm tra các dữ liệu đưa vào trước
----------------------------------------------*/
USE master
GO
--Tạo Database
CREATE DATABASE [QLHD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHD_dat', FILENAME = N'D:\02. QLHS\DATA\QLHD.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHD_log', FILENAME = N'D:\02. QLHS\DATA\QLHD.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE [QLHD]
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

--Tạo Tables
CREATE TABLE dbo.tHopDong(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	SOHD		nvarchar(20) NOT NULL,					-- Số hợp đồng
	KIEUHD		nvarchar(20) NOT NULL DEFAULT N'A-B',	-- Kiểu hợp đồng (A-B, B-B' ...)
	ID_NT		nvarchar(20) NOT NULL,					-- Id nhà thầu
	ID_CP		nvarchar(20) NOT NULL DEFAULT N'XDTB',	-- Id chi phí (Tư vấn, Xây lắp, khác ...)
	ID_HT		nvarchar(20) NOT NULL DEFAULT N'DIEUCHINH',	-- Id hình thức hợp đồng (Trọn gói, Điều chỉnh ...)
	ID_HD		nvarchar(20) NOT NULL,  				-- Id hợp đồng chính	
	NOIDUNG		nvarchar(MAX) NULL,						-- Nội dung hợp đồng
	TOMTAT		nvarchar(MAX) NULL,						-- Tóm tắt điều khoản cơ bản của hợp đồng
	GIAHD		float NOT NULL DEFAULT 0.0,				-- Giá hợp đồng		
	NGAYHD		datetime NOT NULL DEFAULT GETDATE(),	--Ngày ký hợp đồng
	NGAYKC		datetime NOT NULL DEFAULT GETDATE(),	--Ngày khởi công
	NGAYKT		datetime NOT NULL DEFAULT GETDATE(),	--Ngày kết thúc
	NGAYBLTU	datetime NULL,							-- Ngày hết hạn bảo lãnh tạm ứng
	NGAYBLHD	datetime NULL,							-- Ngày hết hạn bảo lãnh thực hiện hợp đồng
	TLTAMUNG	float NULL DEFAULT 0.2,					-- Tỷ lệ tạm ứng theo hợp đồng
	TLBLHD		float NULL DEFAULT 0.03,				-- Tỷ lệ bảo lãnh thực hiện hợp đồng
	TLQT		float NULL DEFAULT 0.05,				-- Tỷ lệ giữ lại chờ quyết toán
	bTHANHLY	bit NOT NULL DEFAULT 0,					-- Xác định hợp đồng đã thanh lý hay chưa?
	bQUYETTOAN	bit NOT NULL DEFAULT 0,					-- Xác định hợp đồng đã quyết toán hay chưa?
	GHICHU		nvarchar(MAX) NULL						-- Ghi chú
)
GO

CREATE TABLE dbo.tNhaThau(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	KH			nvarchar(20) NULL,			-- Ký hiệu (tên nhà thầu viết tắt)
	TENNT		nvarchar(MAX) NOT NULL,		-- Tên Nhà thầu
	MST			nvarchar(10) NOT NULL,		-- Mã số thuế
	DIACHI		nvarchar(MAX) NOT NULL,		-- Địa chỉ đăng ký kinh doanh
	LIENHE		nvarchar(MAX) NOT NULL,		-- Liên hệ (Điện thoại; Fax; Email ...)
	GHICHU		nvarchar(MAX) NULL			-- Ghi chú
)
GO

CREATE TABLE dbo.tHinhThuc(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	KH			nvarchar(20) NULL,			-- Tên hình thức hợp đồng (viết tắt)
	TENHTHD		nvarchar(MAX) NOT NULL		-- Tên hình thức hợp đồng
)
GO

CREATE TABLE dbo.tChiPhi(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	KH			nvarchar(20) NULL,			-- Ký hiệu chi phí (viết tắt)
	TENCP		nvarchar(MAX) NOT NULL		-- Tên chi phí (Tư vấn, Xây lắp, khác ...) 	
)
GO

CREATE TABLE dbo.tThanhToan(
	ID			bigint PRIMARY KEY IDENTITY(1,1),	
	SOPTT		nvarchar(20) NOT NULL,				-- Số phiếu thanh toán
	NGAYPTT		datetime NOT NULL DEFAULT GETDATE(),-- Ngày phiếu thanh toán
	GTHT		float NOT NULL DEFAULT 0.0,			-- Giá trị hoàn thành
	GTPS		float NOT NULL DEFAULT 0.0, 		-- Giá trị phát sinh
	GTKTTU		float NOT NULL DEFAULT 0.0,			-- Giá trị khấu trừ tạm ứng
	GTKTQT		float NOT NULL DEFAULT 0.0,			-- Giá trị giữ lại chờ quyết toán
	GTKTKH		float NOT NULL DEFAULT 0.0,			-- Giá trị giữ lại khác
	GTTT		float NOT NULL DEFAULT 0.0,			-- Giá trị thanh toán trong kỳ
	GTGN		float NOT NULL DEFAULT 0.0,			-- Giá trị giải ngân trong kỳ
	ID_HD		nvarchar(20) NOT NULL,				-- Id hợp đồng
	ID_NV		nvarchar(20) NOT NULL,				-- Id nguồn vốn (CSH, Vay NĐT, vay NH)
	GHICHU		nvarchar(MAX) NULL					-- Ghi chú
 )
GO

CREATE TABLE dbo.tNguonVon(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	KH			nvarchar(20) NULL,			-- Ký hiệu (tên nguồn vốn viết tắt)
	TENNV		nvarchar(MAX) NOT NULL		-- Tên nguồn vốn (CSH, Vay NĐT, vay NH)	
)
GO

CREATE TABLE dbo.tKeHoach(
	ID			bigint PRIMARY KEY IDENTITY(1,1),	
	TENKH		nvarchar(MAX) NOT NULL,		-- Tên kế hoạch giải ngân
	GIATRI		float NOT NULL DEFAULT 0.0,	-- Tổng giá trị kế hoạch giải ngân
	GHICHU		nvarchar(MAX) NULL			-- Ghi chú
)
GO

CREATE TABLE dbo.tNhanVien
(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	USERNAME	NVARCHAR(20) NOT NULL,				-- Tên đăng nhập
	HOTEN		NVARCHAR(50) NOT NULL,				-- Tên nhân viên
	QUYEN		NVARCHAR(2) NOT NULL DEFAULT 'KH',	-- Quyền của nhân viên (LD, KH, KT, DA, NT, AD)
	MATKHAU		NVARCHAR(MAX) NOT NULL DEFAULT '2003011414115776479911161271372042013444',
	bHIEULUC		BIT DEFAULT 1					-- Hiệu lực của user
)
GO

CREATE TABLE dbo.tDangNhap
(
	ID_NV		NVARCHAR(20) NOT NULL,				-- ID nhân viên đăng nhập
	NGAYGIOVAO	DATETIME NOT NULL DEFAULT GETDATE(),-- Ngày giờ vào
	NGAYGIORA	DATETIME NULL						-- Ngày giờ ra
)
GO

CREATE TABLE dbo.tThongSo
(
	ID			bigint PRIMARY KEY IDENTITY(1,1),
	KH			NVARCHAR(20) NOT NULL,				-- Ký hiệu của thông số
	NOIDUNG		NVARCHAR(MAX) NULL,					-- Nội dung (mô tả) thông số 
	STR_DATA	NVARCHAR(MAX) NOT NULL,				-- Chuỗi thông số kết nối vào SQLSERVER
	STR_PATH	NVARCHAR(MAX) NOT NULL,				-- Chuỗi chứa đường dẫn file đính kèm
	bHIEULUC	BIT DEFAULT 0						-- Hiệu lực của thông số
)
GO

/* ĐƯA DỮ LIỆU BAN ĐẦU */

-- Insert tNhanVien
INSERT INTO dbo.tNhanVien (USERNAME, HOTEN, QUYEN, MATKHAU, bHIEULUC)
VALUES (N'haint', N'Ngô Thanh Hải', N'AD', N'2003011414115776479911161271372042013444', 1)
INSERT INTO dbo.tNhanVien (USERNAME, HOTEN, QUYEN, MATKHAU, bHIEULUC)
VALUES (N'giangnt', N'Nguyễn Thị Giang', N'KH', N'2003011414115776479911161271372042013444', 1)
INSERT INTO dbo.tNhanVien (USERNAME, HOTEN, QUYEN, MATKHAU, bHIEULUC)
VALUES (N'thuynt', N'Nguyễn Thị Thùy', N'KH', N'2003011414115776479911161271372042013444', 1)
GO

-- Insert tChiPhi
INSERT INTO dbo.tChiPhi (KH, TENCP) VALUES (N'GPMB', N'Chi phí giải phóng mặt bằng (GPMB)')
INSERT INTO dbo.tChiPhi (KH, TENCP) VALUES (N'TVDT', N'Chi phí tư vấn đầu tư xây dựng (TVĐT)')
INSERT INTO dbo.tChiPhi (KH, TENCP) VALUES (N'XDTB', N'Chi phí xây dựng và thiết bị (XDTB)')
GO

-- Insert tHinhThuc
INSERT INTO dbo.tHinhThuc (KH, TENHTHD) VALUES (N'TRONGOI', N'Hợp đồng trọn gói')
INSERT INTO dbo.tHinhThuc (KH, TENHTHD) VALUES (N'CODINH', N'Hợp đồng đơn giá cố định')
INSERT INTO dbo.tHinhThuc (KH, TENHTHD) VALUES (N'DIEUCHINH', N'Hợp đồng đơn giá điều chỉnh')
GO

-- Insert tNguonVon
INSERT INTO dbo.tNguonVon (KH, TENNV) VALUES (N'NSNN', N'Vốn Ngân sách Nhà nước')
INSERT INTO dbo.tNguonVon (KH, TENNV) VALUES (N'BOT-CSH', N'Vốn chủ sở hữu do Nhà đầu tư góp')
INSERT INTO dbo.tNguonVon (KH, TENNV) VALUES (N'BOT-VAY1', N'Vốn vay Ngân hàng (TPBANK)')
GO

-- Insert tThongSo
INSERT INTO dbo.tThongSo (KH, STR_DATA, STR_PATH, bHIEULUC, NOIDUNG)
VALUES (N'QLHD_HP', N'Data Source=192.168.1.222,1433;Initial Catalog=QLHD_HP;Persist Security Info=True;User ID=BOT.HP;Password=hp12345', N'\\192.168.1.222\QLHD\FILE\DNDA', 1, N'Dự án PPP ven biển Hải Phòng - Thời gian từ 2018-2023')
GO